*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


$primary-font: "Bookman Old Style", serif;
$secondary-font: "noto sans", sans-serif;
$primary-color: #181818;
$secondary-color: rgba(148, 147, 150, 0.8);
$tertiary-color-less: rgba(82, 1, 1, 0.91);
$tertiary-color: rgb(82, 1, 1);
$white: #fff;
$black: #000;
$shadow-1: rgba(12, 12, 12, 0.93);
$shadow-2: rgba(31, 31, 31, 0.75);



@mixin layout($justify: center, $align: center){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin position($title){
  position: relative;
  top: $title;
}


@mixin textStyles($transform: uppercase, $weight: 300) {
  font-weight: $weight;
  letter-spacing: 2px;
  text-transform: $transform;
  text-align: center;
}

%fullSpace {
  width: 100%;
  height: 100%;
}