@use "_base.scss" as *;

footer {
  margin-top: 3rem;
  @include layout(space-between, flex-start);
  flex-direction: row;
  padding: 5rem 3rem;
  width: 100%;
  background-color: $primary-color;

  .div1 {
    @include layout(center, flex-start);
    flex-direction: column;
  }

  .openingsuren {
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem;
    font-family: $secondary-font;
    color: $secondary-color;
    font-size: 1.5rem;
  }

  li {
    margin: 0.5rem;
    list-style-type: none;
    font-family: $secondary-font;
    color: $secondary-color;
    font-size: 1.3rem;
  }

  a {
    margin: 0.5rem;
    text-decoration: none;
    font-family: $secondary-font;
    font-size: 1.3rem;
    color: $secondary-color;

    &:hover {
      color: $white;
    }
  }

  i {
    margin: 0 0.3rem;
    font-size: 1.3rem;
  }
}

@media only screen and (max-device-width: $iphone){
  footer{
    @include layout(space-evenly);
    flex-direction: row;
    .div1{
      @include layout(space-evenly);
      flex-direction: row;
      a{
        font-size: 1.5rem;
      }
    }
    .div2{
      display: none;
    }
    .div3{
      display: none;
    }
  }
}