@use "base" as *;

header {
  p {
    margin-bottom: 2rem;
    font-family: $secondary-font;
    width: 20rem;
  }

  .buybutton{
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    border: 0;
    border-radius: 2rem;
    background-color: $primary-color;
    color: $white;
    &:hover {
      transition: linear 0.3s;
      color: $white;
      background-color: $tertiary-color;
      border: 2px solid $white;
    }
  }

  .text-number {
    @include layout(flex-start, flex-start);
    flex-direction: column;

    .price {
      font-family: $secondary-font;
      font-size: 2.2rem;
      font-weight: 700;
    }

    form {
      @include layout();
      flex-direction: row;
      margin-top: 1rem;
    }

    label {

      margin: 0 0 0 0.5rem;
      font-family: $secondary-font;
    }

    input {
      height: 1.5rem;
      width: 2.5rem;
    }
  }

  @include layout();

  .picture {
    &-section {
      @include layout();
      margin-top: 15rem;
      flex-direction: row;

      .image {
        @include layout();
        border-radius: 0.5rem;
        margin: 0.5rem 1.5rem;
        flex-direction: column;
        width: 5rem;
        height: auto;

        &:hover {
          transition: ease-in-out 0.3s;
          width: 5.5rem;
          height: auto;
          opacity: 70%;
        }
      }
    }
    &-item {
      @include layout();
      flex-direction: column;
    }
  }
}

main {
  @include layout(flex-start);
  flex-direction: column;
  padding: 3rem;
  background-color: $primary-color;

  .main-layout {
    flex-direction: column;

    h2 {
      color: $white;
      font-family: $primary-font;
    }

    ul{
      padding: 2rem;
    }

    li {
      color: $white;
      font-size: 1.1rem;
      font-family: $secondary-font;
      list-style-type: square;
      margin-top: 1.5rem;
    }
  }
}