@use "base" as *;


header{
  @include layout(space-around, start);
  flex-direction: column;
  padding: 13.5rem 6.7rem;

  background-image: url("assets/img.png");
  background-repeat: no-repeat;
  background-size: cover;

  .text-background{
    background-color: #181818;
    opacity: 70%;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 40;
  }

  h2, p{
    color: $white;
    font-family: $secondary-font;
    font-weight: bolder;
    margin: 1.5rem 0;
    z-index: 39;
  }
  h2{
    font-family: $primary-font;
    font-weight: bolder;
    word-spacing: 0.3rem;
  }
  p{
    font-family: $secondary-font;
    font-size: 1.5rem;
    font-weight: normal;
  }
}