*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


$primary-font: "Bookman Old Style", serif;
$secondary-font: "noto sans", sans-serif;
$primary-color: #181818;
$secondary-color: rgba(148, 147, 150, 0.8);
$tertiary-color-less: rgba(82, 1, 1, 0.91);
$tertiary-color: rgb(82, 1, 1);
$white: #fff;
$black: #000;
$shadow-1: rgba(12, 12, 12, 0.93);


/*@mixin font($primary-font, $secondary-font){
  font-weight: bolder

}*/



@mixin layout($justify: center, $align: center){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin textStyles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
  text-align: center;
}


.navbar {
  box-shadow: 0 5px 10px 0 rgba(31, 31, 31, 0.75);
  z-index: 100;
  position: fixed;
  width: 100%;
  @include layout(space-between);
  padding: 2rem;
  background-color: $tertiary-color-less;
  border-radius: 0;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 0;

  h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    color: $white;
  }

  .list {
    @include layout();
    flex-direction: row;
  }

  .list-item {
    @include layout();
    margin: 0 2rem;
  }

  .list-link {
    @include layout();
    font-family: $secondary-font;
    font-size: 1.5rem;
    color: $white;
    text-decoration: none;
  }
  .logo{
    background-color: $primary-color;
    padding: 0.7rem;
    margin: 0 0.5rem 0 0;
    border-radius: 10rem;
    color: $white;
    font-size: 2rem;
    &:hover{

      transition: 0.3s linear;
      background-color: $secondary-color;
      color: $tertiary-color;
    }
  }
}
header{
  p{
    font-family: $secondary-font;
    width: 20rem;
  }
  @include layout();
  .picture{
    &-section{
      @include layout();
      margin-top: 15rem;
      flex-direction: row;
      .image{
        @include layout();
        border-radius: 0.5rem;
        margin: 0.5rem 1.5rem;
        flex-direction: column;
        width: 5rem;
        height: auto;
        &:hover{
          transition: ease-in-out 0.3s;
          width: 5.5rem;
          height: auto;
          opacity: 70%;
        }
      }
    }

    &-item{
      @include layout();
      flex-direction: column;
    }
  }
}