@use "scss/global.scss";
@use "scss/_base.scss" as *;


body {
  background-color: $primary-color;
  @include layout(space-between, flex-start);
  background-image: url("assets/img_1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.arrow-div {
  @include layout();
  margin-left: 5rem;
  margin-top: 5rem;
}

.arrow {
  padding: 1rem;
  border-radius: 1rem;
  background-color: $white;
  color: $primary-color;

  i {
    font-size: 1.7rem;
  }

  &:hover {
    background-color: $tertiary-color;
    color: $white;
  }

}

