* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*je mag ook alles maken per onderdeel dus bv nav.scss main.scss enz*/
/*@mixin font($primary-font, $secondary-font){
  font-weight: bolder

}*/
article .card-overlay, article .card-image {
  width: 100%;
  height: 100%;
}

body {
  color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_header {
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
  width: 100%;
  padding: 13.5rem 6.7rem;
  background-image: url("assets/img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main_header .text-background {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #181818;
  opacity: 70%;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 40;
}
.main_header h2, .main_header p {
  color: #fff;
  font-family: "noto sans", sans-serif;
  font-weight: bolder;
  margin: 1.5rem 0;
  z-index: 39;
}
.main_header h2 {
  font-family: "Bookman Old Style", serif;
  font-weight: bolder;
  word-spacing: 0.3rem;
}
.main_header p {
  font-family: "noto sans", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  width: 50rem;
}

.navbar {
  box-shadow: 0 5px 10px 0 rgba(31, 31, 31, 0.75);
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgba(82, 1, 1, 0.91);
  border-radius: 0;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 0;
}
.navbar a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Bookman Old Style", serif;
  color: #fff;
}
.navbar .main {
  font-family: "Bookman Old Style", serif;
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-decoration: none;
}
.navbar .list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar .list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem;
}
.navbar .list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "noto sans", sans-serif;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
}
.navbar .logo {
  background-color: #181818;
  padding: 0.7rem;
  margin: 0 0.5rem 0 0;
  border-radius: 10rem;
  color: #fff;
  font-size: 2rem;
}
.navbar .logo:hover {
  transition: 0.3s linear;
  background-color: rgba(148, 147, 150, 0.8);
  color: rgb(82, 1, 1);
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
article .gallery {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
article .card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 20rem;
  height: auto;
  position: relative;
  overflow: hidden;
}
article .card:hover .card-overlay {
  left: 0;
}
article .card-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(24, 24, 24, 0.5);
  color: #fff;
  z-index: 1;
  flex-direction: column;
  transition: left 0.7s;
}
article .card-overlay-heading {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  font-family: "Bookman Old Style", serif;
  font-size: 2rem;
  text-align: center;
}
article .card-overlay-paragraph {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  font-family: "noto sans", sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
}
article .card-overlay-button {
  width: 150px;
  height: 40px;
  color: #fff;
  background-color: #181818;
  font-family: "noto sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  border-radius: 1.5rem;
  outline: none;
  cursor: pointer;
}
article .card-overlay-button:hover {
  transition: linear 0.3s;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgb(82, 1, 1);
}
article .card-image {
  height: 30rem;
  width: auto;
  object-fit: contain;
  padding: 0.5rem;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  padding: 5rem 3rem;
  width: 100%;
  background-color: #181818;
}
footer .div1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .openingsuren {
  margin-bottom: 1rem;
}
footer p {
  margin: 0.5rem;
  font-family: "noto sans", sans-serif;
  color: rgba(148, 147, 150, 0.8);
  font-size: 1.5rem;
}
footer li {
  margin: 0.5rem;
  list-style-type: none;
  font-family: "noto sans", sans-serif;
  color: rgba(148, 147, 150, 0.8);
  font-size: 1.3rem;
}
footer a {
  margin: 0.5rem;
  text-decoration: none;
  font-family: "noto sans", sans-serif;
  font-size: 1.3rem;
  color: rgba(148, 147, 150, 0.8);
}
footer a:hover {
  color: #fff;
}
footer i {
  margin: 0 0.3rem;
  font-size: 1.3rem;
}

.reclame {
  margin: 1rem;
  border-radius: 1.5rem;
  background-image: url("assets/img_2.png");
  background-repeat: no-repeat;
  width: 60rem;
  background-size: cover;
  padding: 10rem 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 10px 10px 0 rgba(12, 12, 12, 0.93);
}
.reclame .background-div {
  background-color: #181818;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  position: relative;
  right: 2rem;
  top: 5rem;
  flex-direction: column;
  box-shadow: 0 10px 10px 0 rgba(12, 12, 12, 0.93);
}
.reclame h2 {
  color: #fff;
}

.body_elements {
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url("assets/img_1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.background-info {
  margin: 2.5rem 4rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  width: 40rem;
  height: 40rem;
  background: rgba(214, 40, 57, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(214, 40, 57, 0.34);
}
.background-info h1 {
  color: #fff;
  margin: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: normal;
  text-align: center;
  font-family: "Bookman Old Style", serif;
}
.background-info form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background-info input {
  margin: 1rem;
  font-size: 1.3rem;
  border-radius: 3rem;
  width: 20rem;
  height: 3rem;
  border: none;
  padding: 0.5rem;
  box-shadow: 0 5px 10px 0 rgba(82, 1, 1, 0.88);
}
.background-info .list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.background-info .list-item {
  opacity: 100%;
  font-family: "noto sans", sans-serif;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}
.background-info .list-item .login {
  text-decoration: none;
}
.background-info .list-item .registreer {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  border-radius: 2rem;
  padding: 1rem;
}
.background-info .list-item-link {
  color: #fff;
}
.background-info .list-item:hover {
  color: #fff;
  opacity: 60%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header p {
  margin-bottom: 2rem;
  font-family: "noto sans", sans-serif;
  width: 20rem;
}
header .buybutton {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem;
  border: 0;
  border-radius: 2rem;
  background-color: #181818;
  color: #fff;
}
header .buybutton:hover {
  transition: linear 0.3s;
  color: #fff;
  background-color: rgb(82, 1, 1);
  border: 2px solid #fff;
}
header .text-number {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
header .text-number .price {
  font-family: "noto sans", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
}
header .text-number form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}
header .text-number label {
  margin: 0 0 0 0.5rem;
  font-family: "noto sans", sans-serif;
}
header .text-number input {
  height: 1.5rem;
  width: 2.5rem;
}
header .picture-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  flex-direction: row;
}
header .picture-section .image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0.5rem 1.5rem;
  flex-direction: column;
  width: 5rem;
  height: auto;
}
header .picture-section .image:hover {
  transition: ease-in-out 0.3s;
  width: 5.5rem;
  height: auto;
  opacity: 70%;
}
header .picture-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  background-color: #181818;
}
main .main-layout {
  flex-direction: column;
}
main .main-layout h2 {
  color: #fff;
  font-family: "Bookman Old Style", serif;
}
main .main-layout ul {
  padding: 2rem;
}
main .main-layout li {
  color: #fff;
  font-size: 1.1rem;
  font-family: "noto sans", sans-serif;
  list-style-type: square;
  margin-top: 1.5rem;
}

.filter {
  width: 100%;
  z-index: 10;
  background-color: rgba(148, 147, 150, 0.8);
  box-shadow: 0 10px 10px 5px rgba(63, 63, 63, 0.76);
  padding: 2rem;
  display: inline-block;
  margin: 9rem 0 2rem 0;
  flex-wrap: wrap;
  border-radius: 0 1rem 1rem 0;
}
.filter form {
  display: flex;
}
.filter .filter-form {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
}
.filter label, .filter input {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.filter label {
  font-size: 1.2rem;
}
.filter input {
  transform: scale(1.5);
}
.filter .row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
}

.arrow-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  margin-top: 5rem;
}
.arrow-div .arrow {
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
  color: #181818;
}
.arrow-div .arrow i {
  font-size: 1.7rem;
}
.arrow-div .arrow:hover {
  background-color: rgb(82, 1, 1);
  color: #fff;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.page-link {
  display: inline-block;
  padding: 10px 15px;
  background-color: #181818;
  color: #fff;
  text-decoration: none;
  border: 0;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease;
}
.page-link:hover {
  background-color: rgb(82, 1, 1);
}

.page-link.active {
  color: #000;
  font-weight: 700;
  background-color: rgba(148, 147, 150, 0.8);
}

.body_elements {
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-image: url("assets/img_1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*# sourceMappingURL=login.css.map */
