* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


$primary-font: "Bookman Old Style", serif;
$secondary-font: "noto sans", sans-serif;
$primary-color: #181818;
$secondary-color: #949396;
$tertiary-color: #D62839;
$white: #fff;
$black: #000;


/*@mixin font($primary-font, $secondary-font){
  font-weight: bolder

}*/


@mixin layout($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin textStyles($transform: uppercase, $weight: bolder) {
  font-weight: $weight;
  letter-spacing: 2px;
  text-transform: $transform;
  text-align: center;
}

body {
  background-color: $primary-color;
  @include layout(space-between, flex-start);
  background-image: url("assets/img_1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.arrow-div {
  @include layout();
  margin-left: 5rem;
  margin-top: 5rem;
}

.arrow {
  padding: 1rem;
  border-radius: 1rem;
  background-color: $white;
  color: $primary-color;

  i {
    font-size: 1.7rem;
  }

  &:hover {
    background-color: $tertiary-color;
    color: $white;
  }

}

.background-info {
  margin: 2.5rem 4rem;
  border-radius: 1.5rem;
  @include layout(space-around);
  flex-direction: column;
  padding: 3rem;
  width: 40rem;
  height: 40rem;
  background: rgba(214, 40, 57, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 1px solid rgba(214, 40, 57, 0.34);

  h1 {
    color: $white;
    font-weight: 700;
    margin: 1rem;
    font-size: 2.5rem;
    @include textStyles(normal);
    font-family: $primary-font;
  }

  form {
    @include layout();
    flex-direction: column;
  }

  input {
    margin: 1rem;
    font-size: 1.3rem;
    border-radius: 3rem;
    width: 20rem;
    height: 3rem;
    border: none;
    padding: 0.5rem;
    box-shadow: 0 5px 10px 0 rgba(82, 1, 1, 0.88);
  }

  .list {
    list-style-type: none;
  }

  .list-item {
    opacity: 100%;
    font-family: $secondary-font;
    font-size: 1.5rem;
    margin: 0.5rem 0;

    .login {
      text-decoration: none;
    }

    .registreer {
      text-decoration: none;
    }

    &-link {
      color: $white;
    }

    &:hover {
      color: $white;
      opacity: 60%;
    }
  }
}


