*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


$primary-font: "Bookman Old Style", serif;
$secondary-font: "noto sans", sans-serif;
$primary-color: #181818;
$secondary-color: rgba(148, 147, 150, 0.8);
$tertiary-color-less: rgba(82, 1, 1, 0.91);
$tertiary-color: rgb(82, 1, 1);
$white: #fff;
$black: #000;
$shadow-1: rgba(12, 12, 12, 0.93);


/*@mixin font($primary-font, $secondary-font){
  font-weight: bolder

}*/



@mixin layout($justify: center, $align: center){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin textStyles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
  text-align: center;
}

%fullSpace {
  width: 100%;
  height: 100%;
}

body{
  color: $primary-color;
  @include layout(flex-start);
  flex-direction: column;
}

.navbar{
  box-shadow: 0 5px 10px 0 rgba(31, 31, 31, 0.75);
  z-index: 100;
  position: fixed;
  width: 100%;
  @include layout(space-between);
  padding: 2rem;
  background-color: $tertiary-color-less;
  border-radius: 0;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 0;

  h1{
    font-family: $primary-font;
    font-size: 2.5rem;
    font-weight: bolder;
    color: $white;
  }

  .list{
    @include layout();
    flex-direction: row;
  }

  .list-item{
    @include layout();
    margin: 0 2rem;
  }

  .list-link{
    @include layout();
    font-family: $secondary-font;
    font-size: 1.5rem;
    color: $white;
    text-decoration: none;
  }

  .logo{
    background-color: $primary-color;
    padding: 0.7rem;
    margin: 0 0.5rem 0 0;
    border-radius: 10rem;
    color: $white;
    font-size: 2rem;
    &:hover{

      transition: 0.3s linear;
      background-color: $secondary-color;
      color: $tertiary-color;
    }
  }
}

main{
  @include layout(space-around, start);
  flex-direction: column;
  padding: 13.5rem 6.7rem;

  background-image: url("assets/img.png");
  background-repeat: no-repeat;
  background-size: cover;

  .text-background{
    background-color: #181818;
    opacity: 70%;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 40;
  }

  h2, p{
    color: $white;
    font-family: $secondary-font;
    font-weight: bolder;
    margin: 1.5rem 0;
    z-index: 39;
  }
  h2{
    font-family: $primary-font;
    font-weight: bolder;
    word-spacing: 0.3rem;
  }
  p{
    font-family: $secondary-font;
    font-size: 1.2rem;
    font-weight: normal;
  }
}

.reclame{
  margin: 1rem;
  border-radius: 1.5rem;
  background-image: url("assets/img_2.png");
  background-repeat: no-repeat;
  width: 60rem;
  background-size: cover;
  padding: 10rem 3rem;
  @include layout(flex-start);
  flex-direction: row;
  box-shadow: 0 10px 10px 0 $shadow-1;



  .background-div{
    background-color: $primary-color;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    position: relative;
    right: 2rem;
    top: 5rem;
    flex-direction: column;
    box-shadow: 0 10px 10px 0 $shadow-1;
  }
  h2{
    color: $white;
  }
}

article{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .gallery{
    width: 25%;
    @include layout();
  }

  .card {
    @include layout();
    margin: 0;
    width: 20rem;
    height: auto;
    position: relative;
    overflow: hidden;

    &:hover .card-overlay {
      left: 0;
    }

    &-overlay {
      @extend %fullSpace;
      @include layout();
      position: absolute;
      top: 0;
      left: -100%;
      background-color: rgba($primary-color, .5);
      color: $white;
      z-index: 1;
      flex-direction: column;
      transition: left .7s;

      &-heading {
        @include textStyles(capitalize);
        font-family: $primary-font;
        font-size: 2rem;
        text-align: center;
      }

      &-paragraph {
        @include textStyles(capitalize);
        font-family: $secondary-font;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      &-button {
        width: 150px;
        height: 40px;
        color: $white;
        background-color: $primary-color;
        font-family: $secondary-font;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 0;
        border-radius: 1.5rem;
        outline: none;
        cursor: pointer;
        &:hover {
          transition: linear 0.3s;
          border: 2px solid $white;
          color: $white;
          background-color: $tertiary-color;
        }
      }
    }

    &-image {
      @extend %fullSpace;
      height: 30rem;
      width: auto;
      object-fit: contain;
      padding: 0.5rem;
    }
  }
}

footer{
  @include layout(space-between, flex-start);
  flex-direction: column;
  background-color: $primary-color;
  padding: 5rem 1rem;
  width: 100%;
  a{
    margin: 0.5rem;
    text-decoration: none;
    font-family: $secondary-font;
    font-size: 1.7rem;
    color: $secondary-color;
    &:hover{
      color: $white;
    }
  }
  i{
    margin: 0 0.3rem;
    font-size: 1.7rem;
  }
}