@use "scss/main_components" as *;
@use "scss/_nav.scss" as *;
@use "scss/_base.scss" as *;
@use "scss/_card.scss" as *;
@use "scss/_footer.scss" as *;
@use "scss/_reclame.scss" as *;

body{
  color: $primary-color;
  @include layout(flex-start);
  flex-direction: column;
}