*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


$primary-font: "Bookman Old Style", serif;
$secondary-font: "noto sans", sans-serif;
$primary-color: #181818;
$secondary-color: rgba(148, 147, 150, 0.8);
$tertiary-color-less: rgba(82, 1, 1, 0.91);
$tertiary-color: rgb(82, 1, 1);
$white: #fff;
$black: #000;
$shadow-1: rgba(12, 12, 12, 0.93);
$shadow-2: rgba(30, 30, 30, 0.68);


/*@mixin font($primary-font, $secondary-font){
  font-weight: bolder

}*/



@mixin layout($justify: center, $align: center){
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin textStyles($transform: uppercase) {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: $transform;
  text-align: center;
}

%fullSpace {
  width: 100%;
  height: 100%;
}



.navbar{
  box-shadow: 0 5px 10px 0 rgba(31, 31, 31, 0.75);
  z-index: 100;
  position: fixed;
  width: 100%;
  @include layout(space-between);
  padding: 2rem;
  background-color: $tertiary-color-less;
  border-radius: 0;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 0;

  .main{
    font-family: $primary-font;
    font-size: 2.5rem;
    font-weight: bolder;
    color: $white;
    text-decoration: none;
  }

  .list{
    @include layout();
    flex-direction: row;
  }

  .list-item{
    @include layout();
    margin: 0 2rem;
  }

  .list-link{
    @include layout();
    font-family: $secondary-font;
    font-size: 1.5rem;
    color: $white;
    text-decoration: none;
  }

  .logo{
    background-color: $primary-color;
    padding: 0.7rem;
    margin: 0 0.5rem 0 0;
    border-radius: 10rem;
    color: $white;
    font-size: 2rem;
    &:hover{

      transition: 0.3s linear;
      background-color: $secondary-color;
      color: $tertiary-color;
    }
  }
}


.filter{
  z-index: 10;
  background-color: $secondary-color;
  box-shadow: 0 10px 10px 5px rgba(63, 63, 63, 0.76);
  margin: 10rem 0 0 0;
  width: 15rem;
  height: 30rem;
  padding: 2rem;
  @include layout();
  flex-wrap: wrap;
  border-radius: 0 1rem 1rem 0;

  form{
    display: flex;
  }

  .filter-form{
    @include layout(normal);
    flex-direction: row;
    font-size: 1rem;
  }

  label, input{
    margin: 0.5rem;
    @include layout();
    flex-direction: row;
  }

  label{
    font-size: 1.2rem;
  }

  input{
    transform: scale(1.5);
  }

  .row{
    @include layout(space-evenly);
    flex-direction: row;
    font-size: 1rem;
  }

}


article{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .gallery{
    margin-top: 10rem;
    width: 25%;
    @include layout();
  }

  .card {
    @include layout();
    margin: 0;
    width: 20rem;
    height: auto;
    position: relative;
    overflow: hidden;

    &:hover .card-overlay {
      left: 0;
    }

    &-overlay {
      @extend %fullSpace;
      @include layout();
      position: absolute;
      top: 0;
      left: -100%;
      background-color: rgba($primary-color, .5);
      color: $white;
      z-index: 1;
      flex-direction: column;
      transition: left .7s;

      &-heading {
        @include textStyles(capitalize);
        font-family: $primary-font;
        font-size: 2rem;
        text-align: center;
      }

      &-paragraph {
        @include textStyles(capitalize);
        font-family: $secondary-font;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      &-button {
        width: 150px;
        height: 40px;
        color: $white;
        background-color: $primary-color;
        font-family: $secondary-font;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        border: 0;
        border-radius: 1.5rem;
        outline: none;
        cursor: pointer;
        &:hover {
          transition: linear 0.3s;
          border: 2px solid $white;
          color: $white;
          background-color: $tertiary-color;
        }
      }
    }

    &-image {
      @extend %fullSpace;
      height: 30rem;
      width: auto;
      object-fit: contain;
      padding: 0.5rem;
    }
  }
}
